:root {
  --bit-color0: hsl(200 20% 15%);
  --bit-color1: hsl(200 10% 95%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 2rem;
  width: 800px;
  margin: 0 auto;
}

pre {
  font-size: 1rem;
}

header {
  border-bottom: var(--bit-border-width) dotted var(--bit-color0);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

header h1,
header p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-end {
  align-items: end;
}

.gap1 {
  gap: 1rem;
}

.code-input {
  font-family: monospace;
  font-size: 1rem;
  width: 100%;
  resize: none;
  scrollbar-color: var(--bit-color1) var(--bit-color0);
}

.code-output {
  padding: 0 12px;
}

.code-output pre {
  margin: 0;
}
