* {
  box-sizing: border-box;
}

:root {
  --color-notWhite: 255 249 242;
  --color-notBlack: 25 25 25;
  --color-cherry: 131 37 79;
  --color-strawberry: 229 107 111;
  --color-mango: 255 171 92;
  --color-longan: 255 216 168;
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  .candy-root {
    --candy-color-background1: hsl(160 50% 10%);
    --candy-color-background2: hsl(160 50% 20%);
    --candy-color-background3: hsl(160 50% 17%);
    --candy-color-background4: hsl(160 50% 14%);
    --candy-color-text1: hsl(160 50% 90%);
    --candy-color-text2: hsl(160 50% 70%);
    --candy-color-border1: hsl(160 50% 45%);
    --candy-color-border2: hsl(160 50% 26%);
    --candy-color-border3: hsl(160 50% 22%);
    --candy-color-accent-background1: hsl(85 80% 50%);
    --candy-color-accent-background2: hsl(85 80% 45%);
    --candy-color-accent-border1: hsl(85 80% 80%);
    --candy-color-accent-text1: hsl(85 80% 5%);
    --candy-color-shadow1: hsl(160 50% 5% / 50%);
  }
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

pre {
  font-size: 0.9rem;
}

main {
  margin-top: 2rem;
}

h1,
h2 {
  margin: 0;
  margin-top: 1rem;
}

.footer {
  margin-top: 1rem;
}

.flex-auto {
  flex: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.code-input {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  width: 100%;
  resize: none;
}

.chost {
  --chost-color-background-header: rgb(var(--color-notWhite));
  --chost-color-background-body: white;
  --chost-color-border: rgb(var(--color-notBlack) / 25%);
  --chost-color-text: rgb(var(--color-notBlack));
  --chost-color-tag: rgb(var(--color-notBlack) / 50%);
  --chost-shadow: 0 0 0 1px rgb(20 20 20 / 10%), 0 2px 4px rgb(20 20 20 / 20%);

  font-size: 1rem;
  border-radius: 4px;
  box-shadow: var(--chost-shadow);
  color: var(--chost-color-text);
  background: var(--chost-color-background-header);
}

.chost main {
  background: var(--chost-color-background-body);
  padding: 12px;
  margin: 0;
}

.chost hr {
  margin: 0;
  border: 0;
  border-top: 1px solid var(--chost-color-border);
}

.chost aside {
  color: var(--chost-color-tag);
}

.chost .prose {
  margin: 1rem 0;
}

.chost h1 {
  margin: 0;
}

.chost footer,
.chost header {
  padding: 1rem;
}

.chost pre {
  margin: 0;
  margin-bottom: 1.5rem;
}

.prose a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .chost {
    --chost-color-background-header: hsl(0 0% 10%);
    --chost-color-background-body: hsl(0 0% 0%);
    --chost-color-border: hsl(0 0% 100% / 20%);
    --chost-color-text: hsl(0 0% 95%);
    --chost-color-tag: hsl(0 0 75%);
    --chost-shadow: 0 0 0 1px hsl(0 0% 100% / 20%), 0 2px 4px rgb(0 0 0 / 80%);
  }
}
